.Heder {
  padding: 1vw 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 10px #4a008f;
  border-bottom: 0;

  .foter{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 200px;
  }

  .corzin {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: #4a008f;
    align-items: center;
    justify-content: center;
    border: solid 5px goldenrod ;
    color: goldenrod;
    font-style: italic;
    border-radius: 30px ;
    padding: 5px 20px;
    padding-bottom: 15px;
    transition: 0.3s;
    max-height: 6vw;

    &:hover {
      background-color: goldenrod;
      color: black;
    }

    img {
      max-width: 40px;
    }
  }

  .logo {
    font-size: 30px;
    padding: 20px;
    background-color: #4a008f;
    border-radius: 30px;
    border: solid 5px goldenrod;
    transition: 0.3s;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: black;

    &:hover {
      background-color: teal;
    }
  }

  .contai_a {
    display: flex;
    background-color: #4a008f;
    border: solid 5px goldenrod;
    padding: 30px;
    align-items: center;
    gap: 50px;
    border-radius: 20px;

    a {
      font-size: 20px;
      text-decoration: none;
      color: black;
      transition: 0.3s;

      &:hover {
        color: teal;
      }
    }
  }

  .tema {
    background-color: #4a008f;
    padding: 15px;
    border: solid 5px goldenrod;
    border-radius: 30px;
    transition: 0.3s;

    &:hover{
        background-color: teal;
    }

    button {
      display: flex;
      align-items: center;
      border-radius: 30px;
    }
  }
}
