.Corzin {
  padding: 8vw;
  padding-top: 2vw;
  border: solid 10px #4a008f;
  border-bottom:0;
  border-top:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vw;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h1 {
      background-color: #4a008f;
      border: solid 5px goldenrod;
      width: 300px;
      height: 60px;
      padding: 30px;
      text-align: center;
      border-radius: 100px 100px 0 0;
      transition: 0.3s;

      &:hover {
        background-color: goldenrod;
        border: solid 5px white;
      }
    }

    .magaz_2 {
      font-size: 30px;
      background-color: #4a008f;
      border: solid 5px goldenrod;
      padding: 30px;
      border-radius: 100px 0;
      width: 300px;
      text-align: center;
      height: 60px;
      text-decoration: none;
      color: black;
      transition: 0.3s;

      &:hover {
        background-color: goldenrod;
        border: solid 5px white;
      }
    }

    .magaz {
      background-color: #4a008f;
      border: solid 5px goldenrod;
      border-radius: 0 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: black;
      text-decoration: none;
      gap: 20px;
      width: 300px;
      padding: 20px;
      transition: 0.3s;

      &:hover {
        background-color: goldenrod;
        border: solid 5px white;
      }
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;

    .contai_cart {
      display: flex;
      gap: 20px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.208);
      padding: 30px;
      background: #ffff;
      border: solid 5px white;
      border-radius: 50px 50px 10px 10px;
      align-items: center;

      .contai_tovar {
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 10px black;
        width: 200px;
        height: 200px;
        align-items: center;
        justify-content: center;
        background-color: #4a008f;
        border: solid 5px goldenrod;
        gap: 10px;
        overflow: hidden;

        img {
          object-fit: contain;
        }

        h3 {
          text-align: center;
          line-height: 1.4;
          font-size: 15px;
          color: green;
        }
      }

      .contai_div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4a008f;
        border: solid 5px goldenrod;
        border-radius: 0 30px;

        img {
          height: 150px;
          object-fit: contain;
          padding-bottom: 10px;
        }
      }

      .button_div {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .contai_add_remove {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        h1,
        h2 {
          font-size: 25px;
          letter-spacing: 2px;
          font-style: italic;
        }

        button {
          padding: 10px 30px;
          background-color: #4a008f;
          border: solid 3px goldenrod;
          color: #ffff;
          border-radius: 30px 5px;
          transition: 0.3s;

          &:hover {
            background-color: teal;
          }
        }
        p {
          text-align: center;
          background-color: goldenrod;
          border: solid 2px #4a008f;
          border-radius: 20px;
          letter-spacing: 3px;
        }
      }
    }
  }

  .Foter {
    display: flex;
    flex-direction: column;
    background-color: #4a008f;
    border: solid 5px goldenrod;
    width: 300px;
    height: 60px;
    padding: 30px;
    border-radius: 0 0 100px 100px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: goldenrod;

    button {
      padding: 10px;
      align-items: center;
      background-color: green;
      border-radius: 30px;
      border: solid 4px goldenrod;
      transition: 0.3s;

      &:hover {
        background-color: red;
      }
    }
  }
}

.Logo {
  border: solid 10px goldenrod;
  border-top: 0;
  border-bottom: 0;
  height: 44vw;
  align-items: center;
  justify-content: center;

  div {
    background-color: #4a008f;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    left: 36%;
    top: 30%;
    box-shadow: 0 4px 100px teal;
    padding: 4vw;
    align-items: center;
    border-radius: 30px;
    

    h1 {
      font-size: 50px;
      color: goldenrod;
    }

    a{
      font-size: 30px;
      display: flex;
      flex-direction: column;
      padding: 20px;
      align-items: center;
      color: black;
      text-decoration: none;
      border: solid 3px goldenrod;
      background-color: green;
      border-radius: 10px;
      transition: 0.3s;


      &:hover{
        background-color: red;
      }
    }
  }
}
