* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


body.light {
    background: linear-gradient(135deg, #4a008f, goldenrod, teal);
}


body.dark {
    background: linear-gradient(135deg, #38b6ff, #d04bff);
}