.Cart {
  display: grid;
  padding: 5vw 2vw;
  padding-top: 8vw;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  position: relative;
  border: solid 10px #4a008f;
  border-bottom: 0;
  border-top: 0;

  a {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: #4a008f;
    align-items: center;
    justify-content: center;
    border: solid 3px #ffff;
    color: goldenrod;
    font-style: italic;
    border-radius: 30px 5px;
    right: 2vw;
    top: 1vw;
    padding: 0 20px;
    padding-bottom: 10px;
    transition: 0.3s;
    max-height: 6vw;

    &:hover {
      background-color: goldenrod;
      color: black;
    }

    img {
      max-width: 40px;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.208);
    padding: 30px;
    background: #ffff;
    border: solid 5px white;
    border-radius: 50px 50px 10px 10px;
    box-shadow: 0 4px 10px black;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #4a008f;
      border: solid 5px goldenrod;
      border-radius: 0 30px;

      img {
        height: 150px;
        object-fit: contain;
        padding-bottom: 10px;
      }
    }

    .contai_tovar {
    }

    h1,
    h2 {
      font-size: 25px;
      letter-spacing: 2px;
      font-style: italic;
    }

    h3 {
      font-size: 27px;
      color: green;
      letter-spacing: 4px;
    }

    button {
      padding: 10px;
      background-color: #4a008f;
      border: solid 3px goldenrod;
      color: #ffff;
      border-radius: 30px 5px;
      transition: 0.3s;

      &:hover {
        background-color: teal;
      }
    }
    p {
      text-align: center;
      background-color: goldenrod;
      border: solid 2px #4a008f;
      border-radius: 20px;
      letter-spacing: 3px;
    }
  }

  .foter {
    display: flex;
    margin-left: 36.4vw;
    width: 100%;

    h4 {
      text-align: center;
      background-color: goldenrod;
      border: solid 2px #4a008f;
      border-radius: 20px;
      letter-spacing: 3px;
    }
  }
}
